.sectionItems {
 display: flex;
 align-items: center;
}

.sectionRead {
  width: 21rem;
  margin-right: 6.56rem;
  padding: 9.375rem 0;
}

.sectionTitle {
  color: var(--Color-Black, #141414);  
  font: 1.625em/120% "PlayfairDisplay-Bold", sans-serif;
  margin-top: 1.6rem;
}

.sectionText {
  color: var(--Color-Gray, #555);
  font: 1em/165% "Manrope-Regular", sans-serif;
  letter-spacing: 0.02em;
  text-align: justify;
  margin: 0.6875rem 0 1.875rem;
}

.sectionLink {
  border: 2px solid var(--Color-LightGreen, #5c8692);
  color: var(--Color-Black, #141414);
  padding: 1rem 2.6875rem;
  font: 0.875em/125% "Manrope-ExtraBold", sans-serif;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
}