.testimonialsSection {
  background-color: #EBF3F5;
  padding: 6rem 0;
}

.sectionText {
  color: var(--Color-LightGreen, #5c8692);
  font: 0.9375em/154% "Manrope-SemiBold", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sectionTitle {
  font: 2.8125em/130% "PlayfairDisplay-Bold", sans-serif;
  letter-spacing: -0.01em;
  margin: 0.5rem 0 4rem;
}

.textCenter {
  text-align: center;
}

.colorBlack {
  color: var(--Color-Black, #141414);
}

.cards {
  display: flex;
  gap: 0 2.5rem;
}

.leftCard {
  background-color: var(--Color-White, #fff);
  width: 36.375em;
  padding: 44px;
}

.cardText {
  font: 1.1875em/180% "Manrope-Regular", sans-serif;
  width: 30rem;
  text-align: justify;
}

@media (max-width:320px) {
  .testimonialsSection {
    margin-top: 2rem;
    padding: 2rem 0;
  }

  .sectionText {
    font-size: 0.8em;
  }

  .sectionTitle {
    font-size: 1.8em;
    margin: 0.3rem 0 1.2rem;
  }

  .cards {
    flex-direction: column;
    gap: 1.2rem 0;
  }

  .leftCard {
    padding: 20px;
    width: 100%;
  }

  .cardText {
    font-size: 0.6em;
    width: fit-content;
  }

  .cardsImages {
    width: 100%;
    height: auto;
  }
}